{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "4"
      },
      "useBuiltIns": "usage",
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}