{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12.13"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
