{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.9"
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
