{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
            "arrowFunctions": true,
            "binaryLiterals": true,
            "blockBindings": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "forOf": true,
            "generators": true,
            "modules": false,
            "objectLiteralComputedProperties": true,
            "objectLiteralDuplicateProperties": true,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "octalLiterals": true,
            "regexUFlag": true,
            "regexYFlag": true,
            "restParams": true,
            "spread": true,
            "superInFunctions": true,
            "templateStrings": true,
            "unicodeCodePointEscapes": true,
            "globalReturn": true,
            "jsx": false,
            "experimentalObjectRestSpread": false
        }
    },

    "env": {
        "browser": false,
        "node": true,
        "commonjs": false,
        "es6": true,
        "worker": false,
        "amd": false,
        "mocha": false,
        "jasmine": false,
        "jest": false,
        "phantomjs": false,
        "protractor": false,
        "qunit": false,
        "jquery": false,
        "prototypejs": false,
        "shelljs": false,
        "meteor": false,
        "mongo": false,
        "applescript": false,
        "nashorn": false,
        "serviceworker": false,
        "atomtest": false,
        "embertest": false,
        "webextensions": false,
        "greasemonkey": false
    },

    "globals": {
        "Typekit": true
    },

    "plugins": [
    ],

    "rules": {
        "comma-dangle": [2, "never"],
        "no-cond-assign": [2, "always"],
        "no-console": 0,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": [2, "functions"],
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": [2, "both"],
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 2,
        "no-sparse-arrays": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "use-isnan": 2,
        "valid-jsdoc": 0,
        "valid-typeof": 2,

        "accessor-pairs": [2, {
            "getWithoutSet": true
        }],
        "block-scoped-var": 2,
        "complexity": 0,
        "consistent-return": 0,
        "curly": [2, "all"],
        "default-case": 2,
        "dot-location": [2, "property"],
        "dot-notation": [2, {
            "allowKeywords": true,
            "allowPattern": "^[a-z]+(_[a-z]+)+$"
        }],
        "eqeqeq": [2, "allow-null"],
        "guard-for-in": 2,
        "no-alert": 2,
        "no-caller": 2,
        "no-case-declarations": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-empty-pattern": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 0,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": [2, {
            "boolean": true,
            "number": true,
            "string": true
        }],
        "no-implied-eval": 2,
        "no-invalid-this": 2,
        "no-iterator": 2,
        "no-labels": 0,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-magic-numbers": [2, {
            "ignore": [-1, 0, 1, 2, 100],
            "ignoreArrayIndexes": true
        }],
        "no-multi-spaces": [2, {
            "exceptions": {}
        }],
        "no-multi-str": 2,
        "no-native-reassign": [2, {
            "exceptions": []
        }],
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-octal-escape": 2,
        "no-octal": 2,
        "no-param-reassign": 0,
        "no-process-env": 0,
        "no-proto": 2,
        "no-redeclare": [2, {
            "builtinGlobals": true
        }],
        "no-return-assign": [2, "except-parens"],
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": [2, {
            "allowShortCircuit": true,
            "allowTernary": true
        }],
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 2,
        "no-warning-comments": [2, {
            "terms": ["todo", "fixme", "xxx"],
            "location": "anywhere"
        }],
        "no-with": 2,
        "radix": [2, "always"],
        "vars-on-top": 2,
        "wrap-iife": [2, "outside"],
        "yoda": [2, "never", {
            "exceptRange": false,
            "onlyEquality": false
        }],

        "strict": [2, "function"],

        "init-declarations": [2, "always"],
        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": [2, {
            "builtinGlobals": true,
            "hoist": "all",
            "allow": []
        }],
        "no-undef-init": 2,
        "no-undef": [2, {
            "typeof": true
        }],
        "no-undefined": 2,
        "no-unused-vars": [2, {
            "vars": "all",
            "args": "after-used",
            "argsIgnorePattern": ""
        }],
        "no-use-before-define": 2,

        "callback-return": [2, ["callback", "cb", "next"]],
        "global-require": 2,
        "handle-callback-err": [2, "^(err|error)$"],
        "no-mixed-requires": [0, {
            "grouping": false
        }],
        "no-new-require": 2,
        "no-path-concat": 2,
        "no-process-exit": 2,
        "no-restricted-modules": [0, ""],
        "no-sync": 2,

        "array-bracket-spacing": [2, "never"],
        "block-spacing": [2, "always"],
        "brace-style": [2, "1tbs", {
            "allowSingleLine": true
        }],
        "camelcase": [0, {
            "properties": "always"
        }],
        "comma-spacing": [2, {
            "before": false,
            "after": true
        }],
        "comma-style": [2, "last"],
        "computed-property-spacing": [2, "never"],
        "consistent-this": [2, "that"],
        "eol-last": 2,
        "func-names": 2,
        "func-style": [2, "declaration", {
            "allowArrowFunctions": false
        }],
        "id-length": [0, {
            "min": 1,
            "max": 20,
            "properties": "never",
            "exceptions": []
        }],
        "id-match": 0,
        "indent": 0,
        "jsx-quotes": 0,
        "key-spacing": [2, {
            "beforeColon": false,
            "afterColon": true
        }],
        "keyword-spacing": [2, {
            "before": true,
            "after": true
        }],
        "linebreak-style": [2, "unix"],
        "lines-around-comment": 0,
        "max-depth": 0,
        "max-len": 0,
        "max-nested-callbacks": [2, 5],
        "max-params": 0,
        "max-statements": 0,
        "new-cap": [0, {
            "capIsNewExceptions": []
        }],
        "new-parens": 2,
        "newline-after-var": [2, "always"],
        "no-array-constructor": 2,
        "no-bitwise": 0,
        "no-continue": 0,
        "no-inline-comments": 0,
        "no-lonely-if": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-multiple-empty-lines": [2, {
            "max": 1,
            "maxEOF": 1
        }],
        "no-negated-condition": 2,
        "no-nested-ternary": 2,
        "no-new-object": 2,
        "no-plusplus": 0,
        "no-restricted-syntax": 0,
        "no-spaced-func": 2,
        "no-ternary": 0,
        "no-trailing-spaces": [2, {
            "skipBlankLines": false
        }],
        "no-underscore-dangle": [2, {
            "allow": []
        }],
        "no-unneeded-ternary": 2,
        "object-curly-spacing": [2, "always"],
        "one-var": 0,
        "operator-assignment": [2, "always"],
        "operator-linebreak": [2, "none", {
            "overrides": {}
        }],
        "padded-blocks": 0,
        "quote-props": [2, "as-needed"],
        "quotes": [2, "single"],
        "require-jsdoc": 0,
        "semi-spacing": [2, {
            "before": false,
            "after": true
        }],
        "semi": [2, "always"],
        "sort-vars": 0,
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "always"],
        "space-in-parens": [2, "never"],
        "space-infix-ops": [2, {
            "int32Hint": false
        }],
        "space-unary-ops": [1, {
            "words": true,
            "nonwords": false
        }],
        "spaced-comment": [2, "always"],
        "wrap-regex": 2,

        "arrow-body-style": [2, "as-needed"],
        "arrow-parens": [2, "always"],
        "arrow-spacing": [2, {
            "before": true,
            "after": true
        }],
        "constructor-super": 2,
        "generator-star-spacing": [2, {
            "before": true,
            "after": false
        }],
        "no-arrow-condition": 0,
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-this-before-super": 2,
        "no-var": 2,
        "object-shorthand": [2, "properties"],
        "prefer-arrow-callback": 2,
        "prefer-const": 2,
        "prefer-reflect": [2, {
            "exceptions": []
        }],
        "prefer-spread": 2,
        "prefer-template": 2,
        "require-yield": 2
    }
}
