body {
    font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', sans-serif;
    padding-bottom: 90px;
}

#forkongithub {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
}

#forkongithub a {
    background: #FFF;
    color: #617D8A;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 10px 40px;
    box-sizing: content-box;
    white-space: nowrap;
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    border: 1px solid #ddd;
}

#forkongithub a:hover {
    background: #FF8C8C;
    color: #fff;
}

#platform-switcher {
    position: absolute;
    left: -89px;
    top: 90px;
    transform: rotate(270deg);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#platform-switcher > div {
    background: #F7F8F9;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    color: #859BA6;
    line-height: 33px;
    text-align: center;
    float: right;
    width: 72px;
    margin-right: -1px;
    cursor: pointer;
    opacity: 0.5;
}

#platform-switcher > div.active {
    opacity: 1;
}

.container, footer {
    max-width: 960px;
    margin: 0 auto;
}

.container {
    padding: 120px 0;
}

.column {
    width: 50%;
    float: left;
    position: relative;
}

.column:first-of-type {
    padding-right: 90px;
}

header {
    background: #FBFBFB;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

p {
    font-size: 17px;
    color: #859BA6;
    line-height: 26px;
}

a {
    color: inherit;
}

h1 {
    font-weight: 500;
    font-size: 32px;
    color: #617D8A;
    line-height: 40px;
}

#code, code {
    background: #F7F8F9;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: 'Consolas', monospace;
    font-size: 14px;
    color: #617D8A;
    padding: 20px;
    display: block;
    margin-bottom: 20px;
    overflow: scroll;
}

#code {
    margin-top: 0;
    line-height: 21px;
    margin-left: 34px;
    border-top-left-radius: 0;
    min-height: 250px;
}

code {
    white-space: nowrap;
}

code:before {
    content: "$ ";
}

footer {
    font-size: 14px;
    color: #859BA6;
    line-height: 16px;
}

@media (max-width: 1020px) {
    .container, footer {
        max-width: 768px;
    }
    p {
        font-size: 15px;
    }
    .column:first-of-type {
        padding-right: 40px;
    }
    footer {
        font-size: 11px;
    }
}

@media (max-width: 828px) {
    body {
        padding-bottom: 60px;
    }
    .container, footer {
        max-width: 480px;
    }
    .container {
        padding: 90px 0;
    }
    footer {
        padding: 45px 0;
    }
    .column {
        width: 100%;
        float: none;
    }
    .column:first-of-type {
        padding-right: 0;
        margin-bottom: 60px;
    }
    #demo, #forkongithub {
        display: none;
    }
}

@media (max-width: 540px) {
    .container, footer {
        max-width: 260px;
    }
    .container {
        padding: 60px 0;
    }
    .column:first-of-type {
        margin-bottom: 30px;
    }
    footer {
        padding: 0;
    }
}
